{{- define "ocusers-table" -}}
<div class="table-wrapper">
  <table class="pure-table pure-table-bordered pure-table-striped" width="100%">
    <thead>
      <tr>
        {{- range .Columns }}
        <th>{{ . }}</th>
        {{- end }}
      </tr>
    </thead>
    <tbody
      hx-get="{{ .DataEndpoint }}"
      hx-trigger="load, every 60s"
      hx-swap="innerHTML">
      <tr>
        <td colspan="{{ len .Columns }}" style="text-align:center;color:#999">Loading...</td>
      </tr>
    </tbody>
  </table>
</div>
{{- end }}
