{{ if not . }}
<tr>
  <td colspan="11" style="text-align:center;color:#999">
    暂无在线用户
  </td>
</tr>
{{ end }}

{{ range . }}
<tr>
  <td style="text-align: center;">
    <button class="btn-disconnect" 
      hx-get="/api/occtl/disconnect/{{.ID}}"
      hx-on::after-request="if (event.detail.xhr.status === 200) { htmx.remove(htmx.closest(this, 'tr')) } else { alert('Failed to disconnect user') }"
      data-tooltip="disconnect">
      🔓
    </button>
  </td>
  <td>{{.ID}}</td>
  <td>{{.Username}}</td>
  <!-- <td>{{.Groupname}}</td>
  <td>{{.State}}</td> -->
  <td>{{.RemoteIP}}</td>
  <td>{{.UserAgent}}</td>
  <td>{{.RXHuman}}</td>
  <td>{{.TXHuman}}</td>
  <td>{{.AverageRX}}</td>
  <td>{{.AverageTX}}</td>
  <td><span class="utc-time" data-controller="utc" data-utc-connect-at-value="{{.ConnectedAt}}"></span></td>
  <td>{{.ConnectedFor}}</td>
</tr>
{{ end }}
